.flex.center.base
  .container
    .Input-box 
      %h2.Input-box__title ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .Input-box__field
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '  メールアドレス',class: 'Input-box__form'
        .Input-box__field
          = f.label :パスワード
          %br/
          = f.password_field :password, autocomplete: "current-password", placeholder: '  パスワード',class: 'Input-box__form'
        .Input-box__actions
          = f.submit "ログイン",class: 'Input-box__submit-btn'